@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&family=Yeseva+One&display=swap");

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}

.text-behind {
  text-shadow: 0 0 40px rgba(192, 219, 255, 0.48),
    0 0 20px rgba(65, 120, 255, 0.24);
}

.text-stroked-infront {
  text-stroke: 2px white;
  -webkit-text-stroke: 2px white;
}

.contact {
  background-image: radial-gradient(
      circle at center,
      hsla(253, 16%, 7%, 1) 0,
      transparent 70% 50px
    ),
    radial-gradient(
      circle at center,
      hsla(253, 16%, 7%, 1) 0,
      transparent 70% 100px
    ),
    radial-gradient(
      circle at center,
      hsla(96.098, 100%, 76%, 1) 0,
      transparent 70% 200px
    );
}

.text-gradient {
  background: linear-gradient(to right, #6af50d, #ffeb3b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
