/* @import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@600&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@1,700&family=Inter:wght@600&family=Kanit&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,700&family=Inter:wght@700&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,700&family=Inter:wght@700&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Bitter:ital,wght@1,700&family=Inter:wght@700&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Bebas+Neue&family=Bitter:ital,wght@1,700&family=Inter:wght@700&family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,500&family=Rubik&family=Work+Sans&family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}

.base-component-pc {
  min-height: 100vh;
  background-color: #0f0e13;
  display: flex;
  flex-direction: column;
}

.header-component-pc {
  z-index: 1;
  font-family: "Yeseva One", serif;
  font-size: 25px;
  padding: 10px 0px 10px 0px;
}

.header-list {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  text-decoration: none;
  font-size: 22px;
}

.footer-component-pc {
  padding: 0 0 10px 0;
  margin-top: auto;
  width: 100%;
}

.footer-rule {
  width: 98%;
  margin: auto;
  background-color: gray;
}

.footer-text {
  font-family: "Oswald", sans-serif;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 15px;
}

/* .base-component-iphone {
  background-color: white;
  height: 100vh;
  margin: auto;
  width: 95%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-container {
  background-color: black;
  background-image: linear-gradient(
      90deg,
      black 1%,
      white 2.5%,
      transparent 5%,
      transparent 95%,
      white 97.5%,
      black 99%
    ),
    linear-gradient(
      180deg,
      black,
      white 1%,
      black 1.5%,
      white 3%,
      transparent 5%,
      transparent 95%,
      white 97%,
      black 98.5%,
      white 99%,
      black
    );
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.iphone-face {
  background-color: #0f0e13;
  width: 92%;
  margin: auto;
  height: 95.5%;
  border-radius: 40px;
}

.iphone-top-bezel {
  width: 100%;
  height: 15.355%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-screen {
  width: 94.5%;
  margin: auto;
  height: 69.288%;
  background-color: black;
  border-style: solid;
  border-width: 4px;
  border-color: gray;
  border-radius: 3px;
}

.iphone-bottom-part {
  width: 100%;
  height: 14.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-top-sensor {
  width: 19.4%;
  height: 5px;
  background-color: gray;
  border-radius: 5px;
}

.iphone-bottom-button {
  width: 20.5%;
  border-width: 1px;
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-bottom-button-square {
  width: 30%;
  border-radius: 4px;
  border-color: #fffff0;
  border-width: 1px;
  border-style: solid;
}

.navbar {
  width: 100%;
  background-color: #0f0e13;
  height: 60px;
  z-index: 99;
}

.list-container {
  height: 100%;
}

.list-navbar {
  height: 100%;
  display: flex;
  list-style: none;
  font-size: 30px; /* Change for responsive 
  font-family: "Anton", sans-serif;
  align-items: center;
}

li.navbar-list-items {
  padding: 0px 20px; /* Change for responsive 
}

li.navbar-list-items:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  position: absolute;
  z-index: 99;
  text-align: center;
  background-color: #0f0e13;
  font-size: 20px; /* Change for responsive 
  font-weight: bolder;
  bottom: 0;
  left: 0;
}

.homepage-container {
  width: 100%;
  background-color: #0f0e13;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row; /* Change for responsive 
}

.text-homepage {
  line-height: 1.2;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 100px; /* Change for responsive 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.part-1-homepage-text {
  height: 40vh;
  width: 100%;
}

.text-1-homepage {
  text-align: center;
  padding-top: 12%;
  padding-bottom: 20px;
}

.part-2-homepage-text {
  height: 60vh;
  width: 100%;
}

.text-2-homepage {
  text-align: center;
  margin-top: 20px;
} */

.switch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
}

.top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.intro-bold {
  font-family: "Abhaya Libre", serif;
  font-size: 150px;
}

.headline-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#text-behind,
#text-front,
#text-behind-blur {
  font-family: "Roboto", sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(10px, 12vw, 120px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  color: transparent;
  text-stroke: 2px var(--headline-color);
  -webkit-text-stroke: 2px var(--headline-color);
  z-index: 3;
}

.scroll-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80vh 0 0 0;
}

.scroll-icon img {
  width: 4.5%;
  filter: invert(100%);
}

.details {
  width: 80%;
  margin: auto;
}

.canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.me-section {
  padding: 42px 0;
  flex-direction: row;
  display: flex;
}

.me-pic-kong {
  justify-content: center;
  display: flex;
  width: 50%;
}

.me-intro-text {
  width: 50%;
}

.me-pic-kong img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px purple;
}
