@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&family=Space+Grotesk&family=Yeseva+One&family=Bungee+Spice&display=swap");

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
}

*,
*:before,
*:after {
  @apply cursor-Banana;
}

.text-behind {
  text-shadow: 0 0 40px rgba(192, 219, 255, 0.48),
    0 0 20px rgba(65, 120, 255, 0.24);
}

.text-stroked-infront {
  text-stroke: 2px white;
  -webkit-text-stroke: 2px white;
}

.contact {
  background-image: radial-gradient(
      circle at center,
      hsla(253, 16%, 7%, 1) 0,
      transparent 70% 50px
    ),
    radial-gradient(
      circle at center,
      hsla(253, 16%, 7%, 1) 0,
      transparent 70% 100px
    ),
    radial-gradient(
      circle at center,
      hsla(96.098, 100%, 76%, 1) 0,
      transparent 70% 200px
    );
}

.text-gradient-green {
  background: linear-gradient(to right, #6af50d, #ffeb3b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: linear-gradient(to right, #b7eafc, #d7bef5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-red {
  background: linear-gradient(to right, #e554a6, #940b92);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-programming-languages {
  background: radial-gradient(
    ellipse at top right,
    #0f0e13 34.9%,
    #e554a6 35%,
    #b7eafc 50%,
    #0f0e13 50.1%
  );
}

.background-technologies {
  background: radial-gradient(
    ellipse at bottom left,
    #0f0e13 20.6%,
    #b7eafc 20.7%,
    #e554a6 35.7%,
    #0f0e13 35.8%
  );
}

.background-collaborative {
  background: radial-gradient(
    ellipse at top right,
    #0f0e13 34.9%,
    #e554a6 35%,
    #6af50d 50%,
    #0f0e13 50.1%
  );
}

.background-community {
  background: radial-gradient(
      ellipse at top right,
      transparent 34.8%,
      #0f0e13 34.9%,
      #e554a6 35%,
      #6af50d 50.4%,
      #0f0e13 50.5%,
      transparent 50.6%
    ),
    radial-gradient(
      ellipse at top left,
      transparent 34.8%,
      #0f0e13 34.9%,
      #e554a6 35%,
      #6af50d 50%,
      #0f0e13 50.1%,
      transparent 50.2%
    );
}

.background-language {
  background: radial-gradient(
    ellipse at bottom left,
    #0f0e13 20.2%,
    #6af50d 20.3%,
    #e554a6 35.7%,
    #0f0e13 35.8%
  );
}

.background-ethic {
  background: radial-gradient(
    ellipse at top right,
    #0f0e13 34.9%,
    #b7eafc 35%,
    #6af50d 50.4%,
    #0f0e13 50.5%
  );
}

.background-ai {
  background: radial-gradient(
    ellipse at bottom left,
    #0f0e13 20.2%,
    #6af50d 20.3%,
    #b7eafc 35.7%,
    #0f0e13 35.8%
  );
}
