@media only screen and (max-width: 1360px) {
  .text-behind {
    font-size: 120px;
  }

  .text-stroked-infront {
    font-size: 120px;
  }
}

@media only screen and (max-width: 990px) {
  .text-behind {
    font-size: 80px;
  }

  .text-stroked-infront {
    font-size: 80px;
  }
}

@media only screen and (max-width: 690px) {
  .text-behind {
    font-size: 50px;
  }

  .text-stroked-infront {
    font-size: 50px;
  }
}
